<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
    <nav class="nav nav-pills my-2">
        <span class="nav-item">
            <a 
                class="nav-link {{ 'active' if active == 'traditional' }}"
                href="{{ url_for('traditional') }}"
            >
                Traditional
            </a>
        </span>
        <span class="nav-item">
            <a 
                class="nav-link {{ 'active' if active == 'withajax' }}"
                href="{{ url_for('withajax') }}"
            >
                With Ajax
            </a>
        </span>
    </nav>
    {% block page %}Nothing here{% endblock %}
    </div>
</body>
</html>
