{% extends '_base.html' %}
{% set active = 'traditional' %}

{% block page %}
<form method="POST">
    <div class="form-group">
        {% set class = 'form-control is-invalid' if form.username.errors else 'form-control' %}
        {{ form.username.label }}
        {{ form.username(class=class) }}
        {% if form.username.errors %}
        <div class="invalid-feedback">
            {{ form.username.errors[0] }}
        </div>
        {% endif %}
    </div>
    <div class="form-group">
        {% set class = 'form-control is-invalid' if form.age.errors else 'form-control' %}
        {{ form.age.label }}
        {{ form.age(class=class) }}
        {% if form.age.errors %}
        <div class="invalid-feedback">
            {{ form.age.errors[0] }}
        </div>
        {% endif %}
    </div>
    <button class="btn btn-primary">Signup</button>
</form>
{% endblock %}
